.table{
    color:rosybrown;
    border:  10px solid black;
    border-top: 10px solid rosybrown;
    border-bottom: 10px solid rosybrown;
    
    
}
thead{
    color: black;
    text-align: center;
    border: 5px solid rosybrown;
    border-left: 5px solid rosybrown;
}